<div class="footerbottom">
    <div class="footercol">
        <div class="socialicon">
            <ul>
                <li><a class="fb" title="Like us on facebook" href="https://www.facebook.com/AsposeApp"><i
                            class="fa fa-facebook"></i></a></li>
                <li><a class="twitter" title="Follow us on twitter" href="https://twitter.com/AsposeApp"><i
                            class="fa-twitter fa"></i></a></li>
                <li><a class="linkedin" title="Link us on linkedin" href="https://www.linkedin.com/company/asposeapp"><i
                            class="fa-linkedin fa"></i></a></li>
            </ul>
        </div>
        <div class="bottomenuitems">
            <ul>
                <li><a href="https://www.aspose.app">Home</a></li>
                <li class="sep1">|</li>
                <li><a href="https://products.aspose.app">Products</a></li>
                <li class="sep1">|</li>
                <li><a href="https://forum.aspose.app">Free Support</a></li>
                <li class="sep1">|</li>
                <li><a href="https://aspose-free-consulting.github.io/">Free Consulting</a></li>
                <li class="sep1">|</li>
                <li><a href="https://blog.aspose.app/">Blog</a></li>
            </ul>
        </div>
    </div>
    <div class="footer2bar">
        <div class="footer2col">
            <div class="footer2text">
                <p>© <a href="https://www.aspose.company">Aspose Pty Ltd</a> 2001-2020. All Rights Reserved.</p>
            </div>
            <div class="footer2anchor"><span class="footer2bottom"><a
                        href="https://company.aspose.app/legal/privacy-policy">Privacy Policy</a> <span class="sep1"> |
                    </span> <a href="https://company.aspose.app/legal/tos">Terms of Service</a> <span class="sep1"> |
                    </span> <a href="https://company.aspose.app/contact/">Contact</a></span>
            </div>
        </div>
    </div>
</div>