.back {
  width: 220px;
  height: 44px;
  background-color: #33cc00;
  text-align: center;
  line-height: 43px;
  font-size: 20px;
  margin-left: -10px;
  border-radius: 5px;
  margin-top: -59px;
  color: white;
  cursor: pointer;
}
