<div class="filedrop">
    <label class="dz-message needsclick" style="margin-top: 50px;text-decoration: underline">Drop or upload your
        file</label>
    <input name="uploadFileInput" [accept]='acceptStr' #uploadinput type="file" (change)="upload()"
        class="uploadfileinput" multiple="multiple"><span #showMsg
        style="color:Red;display: none;">{{TypeErrorMsg}}</span>
    <div #fileupload class="fileupload" style="display: none;">
        <div *ngFor="let item of filelist;let i=index">
            <span id={{i}} class="filename"><a (click)="removefile(i)">
                    <label for="uploadFileInput" class="custom-file-upload">{{item.name}}</label>&nbsp;
                    <i class="fa fa-times"></i></a>
            </span>
        </div>
    </div>
    <span #tips style="color:Red;">{{tipsMsg}}</span>
</div>