<div id="DynabicMenuInnerDiv">
    <div [ngClass]="{'topheader': true, 'topbutton': flag}">
        <div class="topsection topsection-panel">
            <button type="button" class='togglebtn' (click)="showheader()" id="mobile-button"> <span
                    class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <div class="venturelogo">
                <a href="https://www.aspose.app"> </a>
            </div>
            <div class="userlogstatus">
                <div id="DynabicMenuUserControls">
                    <div class="userloginbox desklink">
                        <ul class="loginanchor" id="loginanchor">
                            <li><a href="#" class="userlogin"><i class="fa fa-user"></i></a>
                                <ul>
                                    <li>
                                        <a href="https://forum.aspose.app/session/sso" class="topurlink moblink">
                                            <div id="lblMenuSignInExistingUser">Sign in Existing User</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://id.containerize.com/signup?clientId=prod.discourse.app&amp;redirectUrl=https://forum.aspose.app/session/sso"
                                            class="topurlink moblink">
                                            <div id="lblMenuSignInNewUser">Sign in New User</div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="menuitems">
                <ul class="topheadermenus twocolmenu">
                    <li><a href="https://products.aspose.app" class="mobileanchor">Products</a>
                        <ul>
                            <div class="productmenubox">
                                <a href="https://products.aspose.app/words"><em>Aspose.Words<b> Product
                                            Solution</b></em></a>
                                <a href="https://products.aspose.app/pdf"><em>Aspose.PDF<b> Product
                                            Solution</b></em></a>
                                <a href="https://products.aspose.app/cells"><em>Aspose.Cells<b> Product
                                            Solution</b></em></a>
                                <a href="https://products.aspose.app/email"><em>Aspose.Email<b> Product
                                            Solution</b></em></a>
                                <a href="https://products.aspose.app/slides"><em>Aspose.Slides<b> Product
                                            Solution</b></em></a>
                                <a href="https://products.aspose.app/imaging"><em>Aspose.Imaging<b> Product
                                            Solution</b></em></a>
                                <a href="https://products.aspose.app/barcode"><em>Aspose.BarCode<b> Product
                                            Solution</b></em></a>
                                <a href="https://products.aspose.app/diagram"><em>Aspose.Diagram<b> Product
                                            Solution</b></em></a>
                                <a href="https://products.aspose.app/tasks"><em>Aspose.Tasks<b> Product
                                            Solution</b></em></a>
                                <a href="https://products.aspose.app/ocr"><em>Aspose.OCR<b> Product
                                            Solution</b></em></a>
                                <a href="https://products.aspose.app/note"><em>Aspose.Note<b> Product
                                            Solution</b></em></a>
                                <a href="https://products.aspose.app/cad"><em>Aspose.CAD<b> Product
                                            Solution</b></em></a>
                                <a href="https://products.aspose.app/3d"><em>Aspose.3D<b> Product Solution</b></em></a>
                                <a href="https://products.aspose.app/html"><em>Aspose.HTML<b> Product
                                            Solution</b></em></a>
                                <a href="https://products.aspose.app/gis"><em>Aspose.GIS<b> Product
                                            Solution</b></em></a>
                                <a href="https://products.aspose.app/zip"><em>Aspose.ZIP<b> Product
                                            Solution</b></em></a>
                                <a href="https://products.aspose.app/page"><em>Aspose.Page<b> Product
                                            Solution</b></em></a>
                                <a href="https://products.aspose.app/psd"><em>Aspose.PSD<b> Product
                                            Solution</b></em></a>
                                <a href="https://products.aspose.app/omr"><em>Aspose.OMR<b> Product
                                            Solution</b></em></a>
                            </div>
                        </ul>
                    </li>
                    <li><a href="javascript:;" class="mobileanchor">Support</a>
                        <ul>
                            <li><a href="https://forum.aspose.app">Free Support</a> </li>
                            <li><a href="https://aspose-free-consulting.github.io/">Free Consulting</a> </li>
                            <li><a href="https://blog.aspose.app">Blog</a> </li>
                            <li><a href="https://status.aspose.app">Status</a> </li>
                        </ul>
                    </li>
                    <li><a href="https://websites.aspose.app" class="mobileanchor">Websites</a>
                        <ul>
                            <li><a href="https://websites.aspose.app/aspose/com">aspose.com</a></li>
                            <li><a href="https://websites.aspose.app/aspose/cloud">aspose.cloud</a></li>
                            <li><a href="https://websites.aspose.app/aspose/app">aspose.app</a></li>
                            <li><a href="https://websites.aspose.app/groupdocs/com">groupdocs.com</a></li>
                            <li><a href="https://websites.aspose.app/groupdocs/cloud">groupdocs.cloud</a></li>
                            <li><a href="https://websites.aspose.app/groupdocs/app">groupdocs.app</a></li>
                            <li><a href="https://websites.aspose.app/conholdate/com">conholdate.com</a></li>
                            <li><a href="https://websites.aspose.app/conholdate/app">conholdate.app</a></li>
                            <li><a href="https://websites.aspose.app/containerize/com">containerize.com</a></li>
                            <li><a href="https://websites.aspose.app/codeporting/com">codeporting.com</a></li>
                            <li><a href="https://websites.aspose.app/fileformat/com">fileformat.com</a></li>
                        </ul>
                    </li>
                    <li><a href="https://company.aspose.app/" class="mobileanchor">Company</a>
                        <ul>
                            <li><a href="https://company.aspose.app/">About</a></li>
                            <li><a href="https://company.aspose.app/contact">Contact</a></li>
                            <li><a href="https://company.aspose.app/legal">Legal</a></li>
                            <li><a href="https://company.aspose.app/affiliates/">Affiliates</a></li>
                            <li><a href="https://company.aspose.app/events/">Events</a></li>
                            <li><a href="https://company.aspose.app/acquisition">Acquisition</a></li>
                        </ul>
                    </li>
                    <li>
                        <div id="DynabicMenuUserControlsclone"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>