<app-nav-header></app-nav-header>
<div id="ctl00_MainContent_UpdatePanel1">
    <div class="container-fluid asposetools">
        <div class="container">
            <div class="row">
                <div class="col-md-12 pt-5 pb-5">
                    <h1 id="ctl00_MainContent_hProductTile">{{threedConversionTitle}}</h1>
                    <h4 id="ctl00_MainContent_hProductSubTitle">{{threedConversionTitleSub}}</h4>
                    <div class="form">
                        <app-converting [xialaValue]='xialaValue' [beforeValue]='beforeValue'></app-converting>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="ctl00_MainContent_dvAppProductSection" class="col-md-12 pt-5 app-product-section tl">
    <div class="container">
        <div class="col-md-3 pull-right">
            <img [src]="productPicUrl" id="ctl00_MainContent_ProductImage">
        </div>
        <div class="col-md-9 pull-left">
            <h3 id="ctl00_MainContent_AsposeProductTitle">{{AsposeProductTitle}}</h3>
            <ul>
                <li>{{LiFeature}}</li>
                <li>{{LiFeature2}}</li>
            </ul>
        </div>
        <div id="otherapps-panel">
            <a href="/3d/conversion" title="Convert 3D files to Autodesk, Wavefront, 3D Studio & Draco formats."
                class="otherapps-panel__button"
                style="background-image: url('/3d/assets/images/aspose_conversion-app.png');color:#23527c;text-decoration:none!important;">Conversion</a>
            <a href="/3d/repairing" title="Repair your source 3D files for printing." class="otherapps-panel__button "
                style="background-image: url('/3d/assets/images/aspose_3dReapir-for-net.png');color:#23527c;text-decoration:none!important;">Repairing</a>
            <a href="/3d/viewer" title="Viewing 3D files from any device." class="otherapps-panel__button "
                style="background-image: url('/3d/assets/images/aspose_viewer-app.png');color:#23527c;text-decoration:none!important;">Viewer</a>
            <a href="/3d/measurement" title="Measurement 3D files from any device." class="otherapps-panel__button "
                style="background-image: url('/3d/assets/images/aspose_editor-app.png');color:#23527c;text-decoration:none!important;">Measurement</a>
        </div>
        <div id="ctl00_MainContent_socialLinks">
            <div class="share-button share-button__facebook" (click)="shareApp('facebook')">Share on Facebook</div>
            <div class="share-button share-button__twitter" (click)="shareApp('twitter')">Share on Twitter</div>
            <div class="share-button share-button__linkedin" (click)="shareApp('linkedin')">Share on LinkedIn</div>
            <div class="share-button share-button__otherapp_image"><a href="https://products.aspose.app/3d/family"
                    target="_blank">See other apps </a></div>
            <div class="share-button share-button__cloud"><a href="https://products.aspose.cloud/3d/family"
                    target="_blank">Try our Cloud API</a></div>
            <div class="share-button share-button__feedback"><a href="https://forum.aspose.app/c/3d/22"
                    target="_blank">Leave a feedback</a></div>
            <div class="share-button share-button__github"><a href="https://github.com/aspose-3d/Aspose.3d-for-.NET"
                    target="_blank">GitHub Live Demos </a></div>
        </div>

    </div>
</div>

<div *ngIf="readmore" id="ctl00_MainContent_dvExtensionDescription"
    class="col-md-12 pull-left d-flex d-wrap bg-gray appfeaturesectionlist">
    <div class="col-md-4 cardbox tc col-md-offset-2 b6">
        <h3 id="ctl00_MainContent_hExtension1"><em
                class="icofile"><b>{{beforeSuffix}}</b></em><span>{{beforeTitle}}</span></h3>
        <p id="ctl00_MainContent_hExtension1Description">{{beforeContent}}<br><br> <a target="_blank"
                href="https://wiki.fileformat.com/{{beforeHref}}/{{beforeSuffixLower}}/"
                class="btn btn-success btn-sm">Read More </a></p>
    </div>
    <div class="col-md-4 tc cardbox">
        <h3 id="ctl00_MainContent_hExtension2"><em
                class="icofile"><b>{{afterSuffix}}</b></em><span>{{afterTitle}}</span></h3>
        <p id="ctl00_MainContent_hExtension2Description">{{afterContent}}<br><br> <a target="_blank"
                href="https://wiki.fileformat.com/{{afterHref}}/{{afterSuffixLower}}/"
                class="btn btn-success btn-sm">Read More </a></p>
    </div>
</div>

<div id="ctl00_MainContent_dvHowToSection" class="col-md-12 tl bg-darkgray howtolist">
    <div class="container tl dflex">
        <div class="col-md-4 howtosectiongfx"><img src="/3d/assets/images/aspose_howto.png"></div>
        <div class="howtosection col-md-8">
            <div>
                <h4><i class="fa fa-question-circle "></i> <b>How to convert a file using Aspose.3D Conversion App</b>
                </h4>
                <ul>
                    <li>Click inside the file drop area to upload a file or drag &amp; drop a file.</li>
                    <li>Your file will be uploaded and will be converted to required format.</li>
                    <li>Download link of file will be available instantly after conversion.</li>
                    <li>You can also send a link to the file to your email address.</li>
                    <li>Note that file will be deleted from our servers after 24 hours and download links will stop
                        working after this time period.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 pt-5 app-features-section">
    <div class="container tc pt-5">
        <div class="col-md-4">
            <div class="imgcircle fasteasy">
                <img src="/3d/assets/images/fast-easy.png">
            </div>
            <h4>Fast and Easy Conversion</h4>
            <p>Upload your document, choose the save format type and click on “Convert” button. You will get the
                download link as soon as the file is converted.</p>
        </div>

        <div class="col-md-4">
            <div class="imgcircle anywhere">
                <img src="/3d/assets/images/anywhere.png">
            </div>
            <h4>Convert from Anywhere</h4>
            <p>It works from all platforms including Windows, Mac, Android and iOS. All files are processed on our
                servers. No plugin or software installation required for you.</p>
        </div>

        <div class="col-md-4">
            <div class="imgcircle quality">
                <img src="/3d/assets/images/quality.png">
            </div>
            <h4>Conversion Quality</h4>
            <p>Powered by <a href="https://products.aspose.com/3d" id="ctl00_MainContent_aPoweredBy"
                    target="_blank">Aspose.3D. </a>All files are processed using Aspose APIs, which are being used by
                many Fortune 100 companies across 114 countries.</p>
        </div>
    </div>
</div>

<div *ngIf="linkshow" id="ctl00_MainContent_OtherSupportedFeatures_dvOtherSupportedConversions"
    class="col-md-12 pt-5 pb-5 convertypes">
    <div class="container">
        <h4 id="ctl00_MainContent_OtherSupportedFeatures_hOtherSupportedFeatureHeading">Other Supported Conversions</h4>
        <p id="ctl00_MainContent_OtherSupportedFeatures_pOtherSupportedFeatureSubHeading">You can also convert
            {{beforeSuffix}} into many other file formats. Please see the complete list below.</p>
        <ul id="ctl00_MainContent_OtherSupportedFeatures_ulSupportedFeatures">
            <span *ngFor="let item of listobj,let i = index">
                <li><a href="/3d/conversion/{{beforeSuffixLower}}-to-{{item.typeLower}}">{{beforeSuffix}} to
                        {{item.type}}</a> ({{item.describe}})</li>
            </span>
        </ul>
    </div>
</div>
<app-nav-footer></app-nav-footer>